{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "env": {
    "es6": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
